<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CLIPBOARD" />

    <application
        android:name="com.example.meteor.meteorApp"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@drawable/meteor"
        android:label="@string/app_name"
        android:roundIcon="@drawable/meteor"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name="com.example.meteor.activity.AddUserActivity"
            android:exported="true" />

        <service
            android:name="com.example.meteor.service.WakeUpService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.example.meteor.activity.WakeTestActivity"
            android:exported="true" />
        <activity
            android:name="com.example.meteor.activity.RestPasswordActivity"
            android:exported="true" />
        <activity
            android:name="com.example.meteor.activity.ManagementActivity"
            android:exported="true" />
        <activity
            android:name="com.example.meteor.activity.UserApplicationActivity"
            android:exported="true" />
        <activity
            android:name="com.example.meteor.activity.ImageCropActivity"
            android:exported="true" />
        <activity
            android:name="com.example.meteor.activity.CameraActivity"
            android:exported="true" />
        <activity
            android:name="com.example.meteor.activity.ImagePreviewActivity"
            android:exported="true" />
        <activity
            android:name="com.example.meteor.activity.ImageSelectActivity"
            android:exported="true" />
        <activity
            android:name="com.example.meteor.activity.UserInfoActivity"
            android:exported="true" />
        <activity
            android:name="com.example.meteor.activity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name="com.example.meteor.MainActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name="com.example.meteor.activity.SettingsActivity"
            android:exported="true" />
        <activity
            android:name="com.example.meteor.activity.VoiceSynthesisActivity"
            android:exported="true"
            android:theme="@style/Theme.TTS" />
        <activity
            android:name="com.example.meteor.activity.SpeechRecognitionActivity"
            android:exported="true" />
        <activity
            android:name="com.example.meteor.activity.CharacterRecognitionActivity"
            android:exported="true" />
        <activity
            android:name="com.example.meteor.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapplication.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- ressource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>